<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <br><br>
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname">
    <br><br>
    <label for="password">Email</label>
    <input type="text" th:field="*{email}" id="email">
    <br><br>
    <label for="password" >Password</label>
    <input type="password"  th:field="*{password}" id="password">
    <br><br>
    <select class="form-select form-select-sm" multiple aria-label="multiple select example"
            id="editRole" name="selectedRoles">
        <option
                th:each="role : ${roles}"
                th:value="${role.id}"
                th:text="${role.name}"
                th:selected="${role.toString().equals('ROLE_USER') || role.toString().equals('ROLE_ADMIN')}">
        </option>

    </select>
    <br><br>
    <input type="submit" value="Update">
</form>
<a href="/logout">Logout</a>
</body>
</html>