<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

</head>

<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div>
            <div color="FFF-FFF">
                <p th:text="${loginUserInfo}" style="color:#FFFFFF"></p>
            </div>
        </div>
        <a class="nav-link" href="/logout" style="color:#C2C0C0FF">Logout</a>
    </div>
</nav>
<br>
<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3 col-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin"
                type="button" role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin
        </button>
        <button class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" data-bs-target="#v-pills-user"
                type="button" role="tab" aria-controls="v-pills-user" aria-selected="false">User
        </button>
    </div>
    <div class="tab-content col-8" id="v-pills-tabContent">
        <div class="tab-pane fade show active text-start" id="v-pills-admin" role="tabpanel"
             aria-labelledby="v-pills-admin-tab">
            <h1>Admin panel</h1>

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="users-table-tab" data-bs-toggle="tab"
                            data-bs-target="#users-table" type="button" role="tab" aria-controls="users-table"
                            aria-selected="true">Users Table
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="new-user-tab" data-bs-toggle="tab"
                            data-bs-target="#new-user" type="button" role="tab" aria-controls="new-user"
                            aria-selected="false">New User
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="users-table" role="tabpanel"
                     aria-labelledby="users-table-tab">
                    <table class="table table-striped">
                        <tr>
                            <th colspan="7">All users</th>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Email</th>
<!--                            <th>Password</th>-->
<!--                            <th>Role</th>-->
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        <div th:each="user : ${users}">
                            <tr>
                                <td th:text="${user.getId()}"></td>
                                <td th:text="${user.getName()}"></td>
                                <td th:text="${user.getSurname()}"></td>
                                <td th:text="${user.getEmail()}"></td>

<!--                              <td th:text="${user.getRole()}"></td>-->
                                <td>
                                    <div class="modal fade" th:id="'editModalCenter_' + ${user.getId()}"
                                         tabindex="-1" role="dialog" aria-labelledby="editModalCenterTitle"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <form method="post"
                                                      th:action="@{'admin/edit/' + ${user.getId()}}" >

                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editModalLongTitle">Edit user</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">


                                                            <div class="row justify-content-center">
                                                            <div class="col-md-8">
                                                                <label th:for="${user.getId()}">ID</label>
                                                                <input disabled type="text" class="form-control"
                                                                       th:id="${user.getId()}" th:value="${user.getId()}"
                                                                       th:name="id">

                                                            </div>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                            <div class="col-md-8 gy-3">

                                                                <label th:for="'validationEditFirstName' + ${user.getId()}">First
                                                                    name</label>
                                                                <input type="text" class="form-control"
                                                                       th:id="'validationEditFirstName' + ${user.getId()}"
                                                                       th:name="name"
                                                                       th:value="${user.getName()}" >

                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-md-8 gy-3">
                                                                <label for="validationEditLastName">Last
                                                                    name</label>
                                                                <input type="text" class="form-control"
                                                                       id="validationEditLastName"
                                                                       th:name="surname"
                                                                       th:value="${user.getSurname()}" >

                                                            </div>
                                                        </div>
                                                    <div class="row justify-content-center">
                                                        <div class="col-md-8 gy-3">
                                                            <label for="validationEditLastName">Last
                                                                name</label>
                                                            <input type="text" class="form-control"
                                                                   id="validationEditEmail"
                                                                   th:name="surname"
                                                                   th:value="${user.getEmail()}" >

                                                        </div>
                                                    </div>

<!--                                                        <div class="row justify-content-center">-->
<!--                                                            <div class="col-md-8 gy-3">-->
<!--                                                                <label for="validationEditRole">Role</label>-->
<!--                                                                <select multiple size="2" class="form-select"-->
<!--                                                                        id="validationEditRole"-->
<!--                                                                        name="form_selected_roles" required>-->
<!--                                                                    <option th:value="${user.getRole()}"-->
<!--                                                                            th:name="role"-->
<!--                                                                            th:text="${user.getRole()}"-->
<!--                                                                    >-->

<!--                                                                    </option>-->
<!--                                                                </select>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
                                                        <input type="submit"
                                                               class="visually-hidden"/>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal" aria-label="Close">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary" tabindex="0">Edit</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            th:data-bs-target="'#editModalCenter_' + ${user.getId()}">
                                        Edit
                                    </button>
                                </td>
                                <td>
                                    <div class="modal fade" th:id="'deleteModalCenter_' + ${user.getId()}"
                                         tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <form  method="POST"
                                                       th:action="@{'/admin/delete/' + ${user.getId()}}"
                                                       th:id="'deleteForm' + ${user.getId()}"  class="g-3 container text-center fw-bold">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLongTitle">Delete
                                                        user</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">

                                                        <div class="row justify-content-center">
                                                            <div class="col-md-8">
                                                                <label for="deleteFormId">ID</label>
                                                                <input disabled type="text" class="form-control"
                                                                       id="deleteFormId" th:value="${user.getId()}">
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-md-8 gy-3">
                                                                <label for="deleteFormName">First name</label>
                                                                <input type="text" class="form-control"
                                                                       id="deleteFormName" disabled
                                                                       th:value="${user.getName()}">
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-md-8 gy-3">
                                                                <label for="deleteFormSurname">Last name</label>
                                                                <input type="text" class="form-control"
                                                                       id="deleteFormSurname" disabled
                                                                       th:value="${user.getSurname()}">
                                                            </div>
                                                        </div>

<!--                                                        <div class="row justify-content-center">-->
<!--                                                            <div class="col-md-8 gy-3">-->
<!--                                                                <label for="deleteFormRole">Role</label>-->
<!--                                                                <select multiple size="2" class="form-select"-->
<!--                                                                        id="deleteFormRole" disabled>-->
<!--                                                                    <option-->
<!--                                                                            th:value="${user.getRole()}">-->
<!--                                                                    </option>-->
<!--                                                                </select>-->
<!--                                                            </div>-->

<!--                                                        </div>-->

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-danger">
                                                        Delete
                                                    </button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            th:data-bs-target="'#deleteModalCenter_' + ${user.getId()}">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </div>

                    </table>
                </div>
                <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="new-user-tab">
                    <table class="table table-striped">
                        <tr>
                            <th colspan="3">Add new user</th>
                        </tr>
                    </table>
                    <div class="mb-3">
                        <form method="POST" action="/saveUser" th:object="${newUser}">
                            <div class="row justify-content-center">
                                <div class="col-md-8 gy-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" th:field="*{name}" id="name">
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-8 gy-3">
                            <label for="surname" class="form-label">Surname</label>
                            <input type="text" class="form-control" th:field="*{surname}" id="surname">
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                        <div class="col-md-8 gy-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="text" class="form-control" th:field="*{password}" id="password">
                                        </div>
                            </div>
<!--                            <div class="row justify-content-center">-->
<!--                                <div class="col-md-8 gy-3">-->
<!--                                    <label for="validationCreateRole">Role</label>-->
<!--&lt;!&ndash;                            <select multiple size="2"  class="form-select" id="validationCreateRole" aria-label="Default select example" name="form_selected_roles"&ndash;&gt;-->
<!--&lt;!&ndash;                                    required>&ndash;&gt;-->
<!--&lt;!&ndash;                                <option th:value="${newUser}"&ndash;&gt;-->
<!--&lt;!&ndash;                                        th:selected="*{roles}">ADMIN</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                <option th:value="${newUser}"&ndash;&gt;-->
<!--&lt;!&ndash;                                        th:selected="*{roles}">USER</option>&ndash;&gt;-->

<!--&lt;!&ndash;                            </select>&ndash;&gt;-->
<!--                                                </div>-->
<!--                            </div>-->
                            <div class="row justify-content-center">
                                <div class="col-auto mt-3">
                            <button type="submit" class="btn btn-success">Add new user</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
        <div class="tab-pane fade text-start" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
            <h1>User information page</h1>
            <table class="table table-striped">
                <tr>
                    <th colspan="7">About user</th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Password</th>
                    <th>Role</th>
                </tr>
                <td th:text="${userPrincipal.getId()}"></td>
                <td th:text="${userPrincipal.getName()}"></td>
                <td th:text="${userPrincipal.getSurname()}"></td>
                <td th:text="${userPrincipal.getPassword()}"></td>
                <td th:text="${userPrincipal.getRole}"></td>

            </table>

        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>


</body>
</html>