<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script type="text/javascript" src="/app.js"></script>

</head>

<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div>
            <div color="FFF-FFF">
                <div id="user-principal" style="color:#FFFFFF"></div>
            </div>
        </div>
        <a class="nav-link" href="/logout" style="color:#C2C0C0FF">Logout</a>
    </div>
</nav>
<br>
<div class="d-flex align-items-start">

    <div class="nav flex-column nav-pills me-3 col-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin"
                type="button" role="tab" aria-controls="v-pills-admin" aria-selected="true">User
        </button>
    </div>
    <div class="tab-content col-8" id="v-pills-tabContent">
        <div class="tab-pane fade show active text-start" id="v-pills-admin" role="tabpanel"
             aria-labelledby="v-pills-admin-tab">
            <h1>User information page</h1>
            <table class="table table-striped">
                <tr>
                    <th colspan="7">About user</th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
                <td th:text="${userPrincipal.getId()}"></td>
                <td th:text="${userPrincipal.getName()}"></td>
                <td th:text="${userPrincipal.getSurname()}"></td>
                <td th:text="${userPrincipal.getAge()}"></td>
                <td th:text="${userPrincipal.getEmail()}"></td>
                <td>
                    <th:block th:each="role: ${userPrincipal.getRoles()}"
                              th:text="${role.getName.replace('ROLE_', '')} + ' '"></th:block>
                </td>


            </table>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>