<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New user</title>
</head>
<body>
<!--<h2>User info</h2>-->
<!--<br>-->
<form method="POST"  action="/saveUser" th:object="${user}">

  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name">
  <br><br>
  <label for="surname">Surname</label>
  <input type="text" th:field="*{surname}" id="surname">
  <br><br>
  <label for="email">Email</label>
  <input type="text" th:field="*{email}" id="email">
  <br><br>
  <label for="password">Password</label>
  <input type="password" th:field="*{password}" id="password">
  <br><br>
  <select class="form-select form-select-sm" multiple aria-label="multiple select example"
          id="editRole" name="selectedRoles">
    <option
            th:each="role : ${roles}"
            th:value="${role.id}"
            th:text="${role.name}"
            th:selected="${role.toString().equals('ROLE_USER') || role.toString().equals('ROLE_ADMIN')}">
    </option>

  </select>
  <input type="submit" value="Add new user!">
</form>


<a href="/logout">Logout</a>
</body>
</html>